.help {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e5e5e5;
    padding-top: 50px;

    .form {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }
    .headText {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 5px;
    }
    .line {
        height: 10px;
        width: 50px;
        background-color: #ff2033;
        margin-bottom: 30px;
    }
    p {
        font-size: 14px;
        font-weight: 500;
        color: #686868;
        margin-bottom: 20px;
    }
}
.table {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .table__form {
        width: 80%;
        background-color: #ffffff;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 15px;
    }
    .table__form-item {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        select {
            outline: none;
            border: 1px solid #979494ee;
            border-radius: 5px;
            padding-left: 10px;
        }
        span {
            width: 100px;
            text-align: start;
        }
        input{
            margin-right: 5px;
        }
    }
    .table__form-item-btn {
        width: 80%;
        background-color: #ffffff;
        padding-bottom: 50px;
        button {
            border-radius: 3px;
        }
    }
}
