.header {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    z-index: 2000;
}
.logo {
    width: 10%;
    cursor: pointer;
}
.menu {
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    width: 50%;
    cursor: pointer;
    color: #a1a5a5;
    & div:hover {
        color: white;
    }
}

.formSignUpAndSignIn {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
    cursor: pointer;
}
.signUp,
.signIn {
    color: white;
    font-weight: 600;
}
.active {
    font-weight: 800;
    color: white;
}
